.hint__number {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 458px;
  line-height: 140%;
  color: #e4e4e4;
}

@media all and (max-width: 1100px) {
  .hint__number {
    order: 2;
    font-size: 585px;
    line-height: 170%;
  }
}