.description__content-button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 110px;
  height: 50px;
  background: #F0F0F0;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #5d5e5e;
  margin-bottom: 35px;
  box-shadow: -2.6px -2.6px 4px rgba(255, 255, 255, 0.44),
              3.4px 3.4px 3.9px rgba(160, 159, 159, 0.3);
}

.description__content-button:active {
  box-shadow: inset -2.6px -2.6px 3.9px rgba(255, 255, 255, 0.44),
    inset 3.4px 3.4px 3.9px rgba(160, 159, 159, 0.3);
}