@import url(./__block-button/header__block-button.css);
@import url(./__title-button/header__title-button.css);

.header__big-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  width: 232px;
  height: 125px;
  top: -40px;
  padding-top: 50px;
  border-radius: 0px 0px 27px 27px;
  box-shadow: -6px -6px 5px rgba(31, 207, 203, 0.06),
              3.8px 3.8px 15px rgba(0, 0, 0, 0.15);
}

@media all and (max-width: 1100px) {
  .header__big-button {
    display: none;
  }
}