@import url(./menu/menu.css);
@import url(./product/product.css);
@import url(./description/description.css);

.main {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #fff;
}