@import url(./__ul/product__ul.css);
@import url(./__product/product__line.css);

.product__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media all and (max-width: 1100px) {
  .product__menu {
    width: 850px;
    margin-bottom: 140px;
  }
}