.hint__image-three {
  width: 610px;
  height: 730px;
  background-image: url(../../../../../images/bigHint-3.png);
  background-size: cover;
}

@media all and (max-width: 1100px) {
  .hint__image-three {
    position: relative;
    right: -109px;
    width: 878px;
    height: 1260px;
    align-self: center;
    background-image: url(../../../../../images/smallHint-3.png);
  }
}