.description__button-code {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 13px; 
  background: #f0f0f0;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #797979;
  width: 432px;
  height: 45px;
  margin-top: 50px;
  box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.44),
              3.5px 3.5px 4px rgba(160, 159, 159, 0.3);
}

.description__button-code:active {
  box-shadow: inset -3px -3px 4px rgba(255, 255, 255, 0.44),
              inset 3.5px 3.5px 4px rgba(160, 159, 159, 0.3);
}

@media all and (max-width: 1100px) {
  .description__button-code {
    width: 950px;
    height: 135px;
    font-size: 36px;
    line-height: 48px;
    background: linear-gradient(191.79deg, rgba(221, 216, 216, 0.5) -5.6%, rgba(255, 255, 255, 0) 116.15%), #fff;
    border-radius: 75px;
    margin-top: 310px;
  }
}