@import url(./__triangle/footer__triangle.css);

.footer__mobile-block {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 370px;
}

@media all and (max-width: 1100px) {
  .footer__mobile-block {
    cursor: pointer;
  }
}

@media all and (max-width: 1100px) {
  .footer__mobile-block:hover>.footer__mobile-menu {
    display: flex;
  }
}