.product__input-style {
  cursor: pointer;
  width: 66px;
  height: 66px;
  border-radius: 6px;
  border: 1px solid #dfdfdf;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  padding: 5px;
}

@media all and (max-width: 1100px) {
  .product__input-style {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: none;
    background: #efefef;
    box-shadow: inset -4px -4px 4px rgba(139, 138, 138, 0.15),
                inset 4px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.product__input-style {
  
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  
}