.product__li-title {
  font-family: 'Open Sans';
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
  line-height: 41px;
  text-transform: uppercase;
  color: #697776;
  margin-bottom: 1px;
}

@media all and (max-width: 1100px) {
  .product__li-title {
    font-size: 20px;
    line-height: 70px;
    margin-bottom: 40px;
  }
}