.description__bottom-block-model {
  display: flex;
  height: 55px;
  margin-top: auto;
}

@media all and (max-width: 1100px) {
  .description__bottom-block-model {
    position: relative;
    top: -110px;
  }
}