@import url(./__tv-box/product__tv-box.css);
@import url(./__tv-container/product__tv-container.css);

.product__tv-block {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 130px 0 210px;
}

@media all and (max-width: 1100px) {
  .product__tv-block {
    display: none;
  }
}