.hint__image-one {
  width: 734px;
  height: 712px;
  background-image: url(../../../../../images/bigHint-1.png);
  background-size: cover;
}

@media all and (max-width: 1100px) {
  .hint__image-one {
    align-self: flex-start;
    width: 975px;
    height: 1050px;
    background-image: url(../../../../../images/smallHint-1.png);
  }
}