.footer__decor-line {
  width: 16px;
  height: 355px;
  background: #252b2b;
  border-radius: 16px;
  box-shadow: inset -4px -4px 4px rgba(70, 70, 70, 0.15),
                    inset 4px 4px 4px rgba(0, 0, 0, 0.08);
}

@media all and (max-width: 1100px) {
  .footer__decor-line {
    width: 100%;
    height: 30px;
    order: 2;
    margin-top: 130px;
  }
}