@import url(./__block-model/description__block-model.css);
@import url(./__block-code/description__block-code.css);
@import url(./__small-block/description__small-block.css);
@import url(./__big-image/description__big-image.css);
@import url(./__small-container/description__small-container.css);

.description__container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

@media all and (max-width: 1100px) {
  .description__container {
    flex-direction: column;
    align-items: center;
    width: 950px;
  }
}