.product__input {
  display: none;
}

.product__input[id="slider-a"]:checked~.product__control>.product__input-style[for="slider-a"] {
  border-color: #1fcfcb;
}

.product__input[id="slider-b"]:checked~.product__control>.product__input-style[for="slider-b"] {
  border-color: #1fcfcb;
}

.product__input[id="slider-c"]:checked~.product__control>.product__input-style[for="slider-c"] {
  border-color: #1fcfcb;
}

.product__input[id="slider-d"]:checked~.product__control>.product__input-style[for="slider-d"] {
  border-color: #1fcfcb;
}

.product__input[id="slider-e"]:checked~.product__control>.product__input-style[for="slider-e"] {
  border-color: #1fcfcb;
}

.product__input[id="slider-g"]:checked~.product__control>.product__input-style[for="slider-g"] {
  border-color: #1fcfcb;
}

#slider-a:checked~.product__slider-mini-container {
  transform: translate(0);
}

#slider-b:checked~.product__slider-mini-container {
  transform: translate(calc(-100%/6*1));
}

#slider-c:checked~.product__slider-mini-container {
  transform: translate(calc(-100%/6*2));
}

#slider-d:checked~.product__slider-mini-container {
  transform: translate(calc(-100%/6*3));
}

#slider-e:checked~.product__slider-mini-container {
  transform: translate(calc(-100%/6*4));
}

#slider-g:checked~.product__slider-mini-container {
  transform: translate(calc(-100%/6*5));
}

@media all and (max-width: 1100px) {
  .product__input[id="slider-a"]:checked~.product__control>.product__input-style[for="slider-a"] {
    background: #1fcfcb;
  }

  .product__input[id="slider-b"]:checked~.product__control>.product__input-style[for="slider-b"] {
    background: #1fcfcb;
  }

  .product__input[id="slider-c"]:checked~.product__control>.product__input-style[for="slider-c"] {
    background: #1fcfcb;
  }

  .product__input[id="slider-d"]:checked~.product__control>.product__input-style[for="slider-d"] {
    background: #1fcfcb;
  }

  .product__input[id="slider-e"]:checked~.product__control>.product__input-style[for="slider-e"] {
    background: #1fcfcb;
  }

  .product__input[id="slider-g"]:checked~.product__control>.product__input-style[for="slider-g"] {
    background: #1fcfcb;
  }
}